<!DOCTYPE html>
<html>
	<head>
		<title>figo web banking</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Bootstrap -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

		<link href="/favicon.ico" rel="shortcut icon" />
		<link href="/banking.css" rel="stylesheet" media="screen" />

	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
			  <div class="navbar-header">
			    <a class="navbar-brand" href="/">figo web banking</a>
			  </div>
			  <div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
							<li <% if @current_account.nil? %> class="active"<% end %>><a href="/">Unified Inbox</a></li>
							<% @accounts.each do |account| %>
									<li <% if !@current_account.nil? and @current_account.account_id == account.account_id %>class="active" <% end %>><a href="/<%= account.account_id %>"><%= account.name %></a></li>
							<% end %>
					</ul>
					<p class="navbar-text navbar-right">Signed in as <a href="/logout" class="navbar-link"><%= @user.email %></a></p>
			  </div><!--/.nav-collapse -->
			</div>
		</div>

		<div class="container-fluid" role="main">
			<%if @error then %>
				<div class="alert alert-error"><%=@error%></div>
			<% end %>
			<%= yield %>
		</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
